body{
  background-color:black;
  text-align: center;
}
h2{
  color: green;
  font-family: OCR A Std, monospace;
}

h1{
    color: Green;
    font-family: OCR A Std, monospace;
}

p{
  color: green;
  font-family: OCR A Std, monospace;
}

<html>
<head>
<style>
a:hover {
    background-color: yellow;
}
